body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  flex-direction: row;
  font-family: "MontserratSemiBold";
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 24px 60px;
  box-sizing: border-box;
  position: fixed;
  background: white;
  top: 0px;
  z-index: 999;
}

.header__logo {
  height: 51px;
}

.header__logoImage {
  width: 166px;
}

.nav-header__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}

.nav-header__item {
  padding-right: 30px;
  font-size: 15px;
}

.nav-header__item.current {
  display: flex;
  flex-direction: column;
  position: relative;
}

.nav-header__item.current:after {
  content: '';
  background-color: #E51937;
  position: absolute;
  width: 64%;
  top: 100%;
  margin-top: 6px;
  height: 2px;
  left: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.current__modelS {
  color: #E51937;
}

.header__menu {
  display: flex;
  flex-direction: row;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0px;
}

.header__menu-item {
  padding-right: 30px;
}

.header__burger {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 24px;
  height: 15px;
}

.burger-icon {
  position: absolute;
  width: 100%;
  height: 2px;
  right: 0;
  top: 50%;
  margin-top: -1px;
  background-color: #E51937;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__burger:before,
.header__burger:after {
  content: '';
  background-color: #E51937;
  position: absolute;
  width: 100%;
  height: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__burger:before {
  top: 0;
}

.header__burger:after{
  bottom: 0;
}

.characteristic {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 133px;
  position: relative;
}

.characteristic__title {
  font-family: "MontserratSemiBold";
  margin: 0px;
  font-size: 90px;
}

.characteristic__text {
  margin: 0px;
  font-family: "MontserratMedium";
  font-size: 15px;
  margin-top: -10px;
}

.characteristic__logoImage {
  width: 100%;
  position: absolute;
  z-index: 0;
}

.characteristic__carImage {
  max-width: 968px;
}

.characteristic__description {
  padding-top: 26px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.description-characteristic__speedo {
  padding-right: 82px;
}

.speedo__image {
  position: relative;
  top: 18px;
}

.speedo__image-speedometr {
  position: absolute;
  width: 46px;
  height: 34.13px;
}

.speedo__image-ellipse {
  position: absolute;
  left: 12px;
  top: 7px;
  width: 21.05;
  height: 20.94;
}

.speedo__image-arrow {
  position: absolute;
  left: 20px;
  top: 15px;
  animation-duration: 3s;
  animation-name: move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform-origin: 17% 35%;
}

@keyframes move {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-230deg);
  }
}

.speedo__title {
  display: flex;
  flex-direction: row;
  font-family: "MontserratSemiBold";
  align-items: center;
  padding-left: 60px;
}

.speedo__title-numb {
  font-size: 35px;
  margin: 0px;
}

.speedo__title-text {
  align-self: flex-end;
  padding-bottom: 3px;
  font-size: 20px;
  margin: 0px;
  padding-left: 6px;
}

.speedo__desc {
  font-family: "MontserratRegular";
  margin: 0px;
  font-size: 12px;
  padding-left: 60px;
  margin-top: -3px;
}

.description-characteristic__road {
  padding-right: 105px;
}

.road__image {
  position: relative;
}

.road__image-stroke {
  width: 29px;
  height: 44.97px;
  position: absolute;
  left: 0px;
  top: 6px;
  z-index: 4;
}

.road__image-strokeDotted {
  width: 26.4px;
  height: 42.37px;
  position: absolute;
  left: .7px;
  top: 7px;
  z-index: 5;
}

.road__image-ellipseRightTop {
  position: absolute;
  width: 7px;
  height: 7px;
  z-index: 6;
  left: 22px;
  top: 5px;
}

.road__image-ellipseRightTopIn {
  position: absolute;
  width: 3px;
  height: 3px;
  left: 24px;
  top: 7px;
  z-index: 7;
}

.road__image-ellipseLeftBottom {
  position: absolute;
  width: 7px;
  height: 7px;
  left: 7px;
  top: 46px;
  z-index: 8;
}

.road__image-ellipsrLeftBottomIn {
  position: absolute;
  width: 3px;
  height: 3px;
  z-index: 9;
  left: 9px;
  top: 48px;
}

.road__title {
  display: flex;
  flex-direction: row;
  font-family: "MontserratSemiBold";
  align-items: center;
  padding-left: 40px;
}

.road__title-numb {
  font-size: 35px;
  margin: 0px;
}

.road__title-text {
  align-self: flex-end;
  padding-bottom: 3px;
  font-size: 20px;
  margin: 0px;
  padding-left: 6.5px;
}

.road__desc {
  font-family: "MontserratRegular";
  margin: 0px;
  font-size: 12px;
  padding-left: 40px;
  margin-top: -3px;
}